#!/bin/bash
#
## parameters
#
# EWS_URL=webmail.example.com  ... url without protocal where webmail is found
# EWS_DOMAIN=user_domain ... Before the \ on your username like user_domain\user_name
# EWS_USER=user_name ... your user name
# EWS_PASS=password ... raw text password (see below)

## MacOS security (remove raw passwords)
#
# To delete and/or add password:
# security delete-generic-password -a ews
# security add-generic-password -w <password> -a ews -s login
#
# password=`security find-generic-password -w -a ews`
# change to:
#
# EWS_PASS=$password
#

SOURCE="${BASH_SOURCE[0]}"
while [ -h "$SOURCE" ]; do # resolve $SOURCE until the file is no longer a symlink
  DIR="$( cd -P "$( dirname "$SOURCE" )" && pwd )"
  SOURCE="$(readlink "$SOURCE")"
  [[ $SOURCE != /* ]] && SOURCE="$DIR/$SOURCE" # if $SOURCE was a relative symlink, we need to resolve it relative to the path where the symlink file was located
done
DIR="$( cd -P "$( dirname "$SOURCE" )" && pwd )"

EWS_URL=webmail.example.com EWS_DOMAIN=user_domain EWS_USER=user_name EWS_PASS=password node "$DIR/appts.js"
